body {
     background-color: deepskyblue;
}

.cabeçalho {
 margin-bottom: 0px;
 background-color: rgb(66, 225, 230);
 color: blueviolet;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 24px 0;
}
